* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #000000;
}

header {
    padding: 22px;
    background-color: #ffffff;
    font-family: '';
    font-weight: bold;
    font-family: Bungee;
    background-color: #989898;
    border-bottom: 3px solid black;
}

header h1 {
    font-size: 56px;
    font-weight: 100;
    margin: 0 0 0 20px;
    color: #007717;
    text-decoration: underline #ffeb00;
}

header .est {
    font-size: 28px;
    font-weight: 100;
    margin: -50px 0 0 500px;

}

.header-con {
    width: 80%;
    margin: auto;
    text-align: center;
}

header .menu-header ul {
    float: right;
}

header .menu-header ul li {
    list-style: none;
    margin: 0px 0 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

header .menu-header ul li a {
    text-decoration: none;
    color: #382f2f;
}

header .menu-header ul li:hover {
    background-color: #8a9fa7;
    color: white;
}

header .menu-header ul li:hover a {
    background-color: #8a9fa7;
    color: #ffffff;
}


header .menu-header ul .menu-drop {
    border: none;
    position: absolute;
    width: 200px;
    background-color: #f7ffcd;
    color: #000000;
    font-weight: 100;
    margin: 10px 0px 0px -10px;
}

header .menu-header ul .menu-drop li {
    border: none;
    display: none;
    font-size: 12px;
    background-color: ;
    padding: 10px 10px 10px 10px;
    margin: 0px 0 0px 0px;
}


header .menu-header li:hover ul li {
    display: block;
}



/* Social Styling */

header .social-m ul {
    margin: 10px 0 10px 0px;
}

header .social-m ul li {
    list-style: none;
    display: inline;
    color: white;
    margin: -15px 0 0 20px;
    background-color: #460000;
    padding: 17px 11px 10px 10px;
    border-radius: 5px;
}

header .social-m ul li span {
    width: 30px;
}


header .social-m ul li a {
    color: white;
}

.wrapper {
    width: 100%;
    margin: auto;
}

.main-photo {
    background: url(photos/environment.jpg) no-repeat 0;
    width: 100%;
    min-height: 700px;
    border-bottom: 1px solid gray;
    background-size: cover;
    text-align: center;
}



.main-photo p {
    font-size: 56px;
    float: right;
    font-weight: bold;
    margin: 20px 30px 0 0;
    color: #ffffff;
}

.main-photo p span {
    letter-spacing: 5px;
    font-weight: none;
    font-family: bungee;
}

.main-photo #to-letter{
    font-family:passion one;
}


/* After Banner Image Boxes */

/* After Banner Image Boxes */

/* After Banner Image Boxes */

.leftboxes {
    width: 25%;
    float: left;
}

.leftboxes img {
    width: 100%;
}

.topbox {
    height: 50%;
}

.topbox img {
    width: 100%;
}

.bottombox img {
    width: 100%;
}

.bottombox {
    height: 50%;
    margin: -4px 0 0 0;
}


.middleboxes {
    width: 50%;
    float: left;
}

.middleboxes img {
    width: 100%;
    filter: grayscale(40%);
    transition: .5s ease-in-out;
}

.middleboxes img:hover {
    width: 100%;
    filter: grayscale(0%)
}


.rightboxes {
    width: 25%;
    float: left;
}


/* States Container Work */

/* States Container Work */

/* States Container Work */

.states-container {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-family: 'passion one';
    filter: grayscale(55%);
}

.states-container .top-states:hover {
    filter: grayscale(100%);
}

.states-container .top-states {
    width: 50%;
    float: left;
    position: relative;
    background: url(photos/big.jpeg) no-repeat -200px -300px;
    min-height: 280px;
    margin: -4px 0 0 0;
}

.states-container .top-states:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(90%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0 8px;
    content: attr(data-title);
    transition: 0.5s .1s;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}


.states-container .top-states:hover:before {
    transform: translateY(0);
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 120px;
}

.bottom-states:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(90%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0 8px;
    content: attr(data-title);
    transition: 0.5s 0.1s;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

.bottom-states:hover:before {
    transform: translateY(0);
    padding: 155px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

.states-container .top-states:nth-child(2) {
    background: url(photos/small.jpg) no-repeat 0 -200px;
}

.states-container .top-states img {
    width: 100%;
    height: 350px;
}


.bottom-states {
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden;
    background: url(photos/small.jpg) no-repeat 0px -110px;
    min-height: 350px;
}

.bottom-states:nth-child(5) {
    background: url(photos/small3.jpg) no-repeat 0px -00px;
    background-size: cover;

}

.bottom-states:nth-child(2) {
    background: url(photos/small1.jpg) no-repeat 0px;
    background-size: cover;
}

.bottom-states:nth-child(3) {
    background: url(photos/small1.jpg) no-repeat 0px;
    background-size: cover;
}

.bottom-states:nth-child(4) {
    background: url(photos/small0.jpg) no-repeat 0px;
    background-size: cover;
}

.bottom-states img {
    width: 100%;
    height: 350px;
}


/* The Food Container Work */

/* The Food Container Work */

/* The Food Container Work */

.food-container {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Passion One;
    background-color: #555555;
}

.food-container .food-menu {
    width: 25%;
    float: left;
    text-align: center;
    position: relative;
}

.food-container .food-menu .food-des {
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
    opacity: 0;
    transition: .2s ease-in-out;
}

.food-container .food-menu:hover .food-des {
    opacity: 1;
}

.food-container .food-menu img {
    height: 400px;
    width: 100%;
}

.food-container .food-menu:hover img {
    filter: blur(1px) brightness(50%);
}

.food-container .food-menu2:hover .food-des {
    opacity: 1;
    transition: .2s ease-in-out;
}

.food-container .food-menu2:hover img {
    filter: blur(1px) brightness(50%);
}

.food-container .food-menu2 {
    width: 25%;
    float: left;
    text-align: center;
    position: relative;
    margin-top: -4px;
}

.food-container .food-menu2 img {
    height: 400px;
    width: 100%;
}

.food-container .food-menu2 .food-des {
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.footer {
    width: 100%;
    margin: auto;
    text-align: center;
    clear: both;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 40px 0px 50px 10px;



}

.footer .left {
    float: left;
}

.footer .right-bar {
    float: right;
    margin-right: 40px;
}

.footer .left {
    float: left;
    margin-left: 5px;
}

.footer .right-bar ul li {
    list-style: none;
    display: inline;
    padding: 0 5px;
}

.footer .right-bar ul li:before {
    content: '';
    background-color: white;
    width: 1px;
    height: 11px;
    position: absolute;
    margin: 1px -7px;
}

.footer .right-bar ul li:first-child:before {
    content: '';
    background-color: white;
    width: 0px;
    height: 11px;
    position: absolute;
    margin: 1px -7px;
}

.footer {
    font-family: 'old standard tt'
}





@media (max-width:1544px) {
    .bottom-states {
        width: 50%;
        float: left;
        position: relative;
        background: url(photos/big.jpeg) no-repeat -200px -300px;
        min-height: 280px;
        margin: -4px 0 0 0;
        background-size: coger;
    }



}


@media (max-width: 1140px) {
    .food-container .food-menu {
        width: 50%;
        float: left;
        text-align: center;
        position: relative;
    }

    .food-container .food-menu img {
        height: 600px;

    }

    .food-container .food-menu:nth-child(3) {
        margin: -4px 0 0 0
    }

    .food-container .food-menu:nth-child(4) {
        margin: -4px 0 0 0;
    }

    .food-container .food-menu2 {
        width: 50%;
        float: left;
        text-align: center;
        position: relative;
    }

    .food-container .food-menu2 img {
        height: 600px;

    }

}

@media (max-width:1497px) {
    header .menu-header ul {
        float: none;
        text-align: center;
    }
}

@media (max-width:1436px) {
    header h1 {
        text-align: center;
        margin: 0 0 0 -1px;
    }

    header .menu-header ul {
        float: none;
        text-align: center;
        width: 100%;
    }

    header .social-m ul {
        margin: px 0 0 0;
        float: none;
        text-align: center;
        width: 100%;
    }

}

@media (max-width:1268px) {
    header h1 {
        text-align: center;
        margin: 0 0 0 -1px;
    }

    header .menu-header ul {
        float: none;
        text-align: center;
    }

    header .social-m {
        margin: 30px 0 0 0;
        float: none;
        text-align: center;
        width: 100%;
    }
}


@media (max-width:1024px){
    .main-photo p {
    font-size: 45px;
    float: right;
    font-weight: bold;
    margin: 20px 30px 0 0;
    color: #ffffff;
    text-align:center;
}

.main-photo p span {
    letter-spacing: 5px;
    font-weight: none;
    float:none;
    text-align:center;
}
}

@media (max-width:874px) {
    header .menu-header ul li {
        display: block;
    }
}


@media (max-width:789px) {
    .bottom-states {
        width: 100%;
        float: left;
        position: relative;
        min-height: 280px;
        margin: -4px 0 0 0;

    }

    .states-container .top-states {
        width: 100%;
        float: left;
        position: relative;
        background: url(photos/big.jpeg) no-repeat -200px -300px;
        min-height: 280px;
        margin: -4px 0 0 0;
    }
    
    .main-photo p {
    font-size: 32px;
    font-weight: bold;
    margin: 300px 30px 0 0;
    color: #ffffff;
        bottom:50%;
}

    
    



}


@media (max-width:628px) {
    header .social-m ul {
        margin: 10px 0 10px 0px;
    }

    header .social-m ul li {
        list-style: none;
        display: inline;
        color: white;
        margin: -15px 0 0 0px;
        background-color: #460000;
        padding: 17px 11px 10px 10px;
        border-radius: 5px;
    }

    header .social-m ul li span {
        width: 30px;
    }


    header .social-m ul li a {
        color: white;
    }
}


@media (max-width:468px) {
    header h1 {
        font-size: 26px;
        text-align: center;
    }

    header .menu-header ul {
        float: none;
    }

    header .menu-header ul li {
        font-size: 12px;
        display: block;
    }

    header .menu-header ul .menu-drop li {
        border: none;
        display: none;
        font-size: 10px;
        padding: 5px 20px 10px 5px;
        margin: 10px 0 10px 0px;
        text-align: center;
        transform: translate(5%);
    }
    
    header .social-m ul li {
        list-style: none;
        display: inline;
        color: white;
        margin: 2px 0 0 0px;
        background-color: #460000;
        padding: 17px 11px 10px 10px;
        border-radius: 5px;
        display:block;
    }

    header .social-m ul li span {
        width: 30px;
    }
    
    


}
