* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

header {
    font-family: Bungee;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom:3px solid black;
    z-index:1
}

.logo {
    float: left;
}

.logo img {
    width: 100px;
    float: left;
    margin: 24px 0 0 0;
}

.logo h1 {
    font-size: 50px;
    color: white;
    float: left;
    text-decoration: underline orange;
}

.social-media {
    position: absolute;
    top: 0;
    color: white;
}

.social-media:hover {
    background-color: rgba(0, 0, 0, 0);
}

.social-media ul li {
    display: block;
    position: relative;
    margin: 10px 0 0 30px;
}

.social-media ul li span {
    position: absolute;
}

.social-media ul li:hover {
    background-color: rgba(0, 0, 0, 0)
}

.social-media ul li {
    height: 25px;
    width: 100%;
}

.social-media ul li span:hover {
    color: orange;
}

.header-con {
    width: 90%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    z-index:5
}

header nav {
    float: right;
    margin: 50px 0 0 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

header nav ul li .menu-drop {
    border: none;
    position: absolute;
    width: 180px;
    background-color: orange;
    color: #ffffff;
    font-weight: 100;
    margin: 10px 0 0 -10px;
    z-index:5;
}

header nav ul .menu-drop li {
    border: none;
    display: none;
    font-size: 12px;
    background-color: ;
    padding: 10px 10px 10px 10px;
    margin: 0px 0 0 0px;
}

.hamburger{
    position:relative;
}

.hamburger span {
    display: none;
}

.hamburger:hover {
    background-color: rgba(0, 0, 0, 0);
}

.hamburger-menu nav ul li{
    display:block;
}

/* hover state */

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

header nav ul li:hover {
    background-color: orange;
    color: #ffffff;
}

header nav ul li ul li:hover {
    background-color: orange;
    color: #ffffff;
}

header nav ul li:hover a {
    background-color: orange;
    color: #ffffff;
}

header nav li:hover ul li {
    display: block;
}

.burger-house{
    position:absolute;
    top:40%;
    font-family:'passion one';
    color:#ffffff;
    font-size:85px;
    right:10%;
    margin: 0px 50px 0 0;
    z-index:0;
}

#to-letter{
    font-style:italic;
}

.main-photos{
    position:relative;
    height:700px;
    overflow:hidden;
}

.main-photo{
    height:700px;
    position:absolute;
    width:100%;
}

.main-photo img{
    width:100%;
    height:100%;
}

.btn {
    color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 5;
    top: 240px;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    background-color: #848484;
}

#btn-1{
    font-size:18px;
}

#btn-2 {
    float: right;;
    position: relative;
    font-size:18px;
}



/*
.main-photo {
    background: url(photos/environment.jpg) no-repeat 0;
    width: 100%;
    min-height: 500px;
    border-bottom: 1px solid gray;
    background-size: cover;
    text-align: center;
}

.main-photo:nth-of-type(2) {
    background: url(photos/environment2.jpg) no-repeat 0;
    width: 100%;
    min-height: 500px;
    border-bottom: 1px solid gray;
    background-size: cover;
    text-align: center;
}

.main-photo:nth-of-type(3) {
    background: url(photos/environment3.jpg) no-repeat 0;
    width: 100%;
    min-height: 500px;
    border-bottom: 1px solid gray;
    background-size: cover;
    text-align: center;
}
*/

.main-photo p {
    font-size: 56px;
    float: right;
    font-weight: bold;
    margin: 20px 30px 0 0;
    color: #ffffff;
}

.main-photo p span {
    letter-spacing: 5px;
    font-weight: none;
    font-family: bungee;
}

.main-photo #to-letter {
    font-family: passion one;
}

/* After Banner Image Boxes */

.findwrap {
    padding: 25px
}

.findnear {
    text-align: center;
    font-family: 'passion one';
    font-weight: 100;
    font-size: 20px;
    background-color: #ffffff;
    padding: 20px;
    letter-spacing: 7px;
    color: #6d6d6d;
}

.findnear nav ul li {
    display: inline-block;
    text-decoration: none;
    margin: 0 0 0 20px;
}

.findnear input {
    padding: 8px;
    font-size: 20px;
    text-indent: 10px;
}

.findnear button {
    padding: 14px 30px 10px 30px;
    margin: -10px 0 0 -20px;
    border: none;
    color: white;
    background-color: orange;
    border-radius: 5px;
    font-family: "oswald";
    font-size: 16px
}

/* States Container Work */

/* States Container Work */

/* States Container Work */

.states-section {
    background-color: #d3d3d3;
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
}

.states-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-family: 'passion one';
    background-color: white;
}

.states-container .top-states:hover {
    
}

.states-container .top-states {
    width: 50%;
    float: left;
    position: relative;
    background: url(photos/big.jpeg) no-repeat -200px -300px;
    min-height: 280px;
}

.states-container .top-states:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(90%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0 8px;
    content: attr(data-title);
    transition: 0.5s .1s;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}


.states-container .top-states:hover:before {
    transform: translateY(0);
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 120px;
}

.bottom-states:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(90%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0 8px;
    content: attr(data-title);
    transition: 0.5s 0.1s;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

.bottom-states:hover:before {
    transform: translateY(0);
    padding: 155px 0 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

.states-container .top-states:nth-child(2) {
    background: url(photos/small.jpg) no-repeat 0 -200px;
}

.states-container .top-states img {
    width: 100%;
    height: 350px;
}

.bottom-states {
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden;
    background: url(photos/small.jpg) no-repeat 0px -110px;
    min-height: 350px;
}

.bottom-states:nth-child(2) {
    background: url(photos/small1.jpg) no-repeat 0px;
    background-size: cover;
}

.bottom-states:nth-child(3) {
    background: url(photos/small1.jpg) no-repeat 0px;
    background-size: cover;
}

.bottom-states:nth-child(4) {
    background: url(photos/small0.jpg) no-repeat 0px;
    background-size: cover;
}

.bottom-states:nth-child(5) {
    background: url(photos/small3.jpg) no-repeat;
    background-size: cover;
}

.bottom-states:nth-child(6) {
    background: url(photos/small2.jpg) no-repeat 0px;
    background-size: cover;
}

.bottom-states img {
    width: 100%;
    height: 350px;
}

/* The Food Container Work */

/* The Food Container Work */

/* The Food Container Work */

.food-section {
    background-color: #d3d3d3;
    width: 100%;
    margin: auto;
    padding: 50px 0 0 0;
    height: 100%;
    overflow: hidden;
}

.food-section h3 {
    font-size: 50px;
    transform: translateY(13%);
    padding-bottom: 10px;
}

.food-section .findnear ul li button {
    margin-top: -10px;
}

.food-container {
    width: 80%;
    height: 100%;
    margin: auto;
    font-family: Passion One;
    background-color: #505050;
}

.food-container .food-menu {
    margin: 0 0 0 19px;
    width: 23.1%;
    position: relative;
    overflow: hidden;
}

.food-container .food-menu:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(90%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    content: attr(data-text);
    transition: 0.5s .1s;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.food-container .food-menu:nth-of-type(1) {
    float: left;
    background: url(photos/burger000.jpg) no-repeat;
    min-height: 500px;
    background-size: cover;
}

.food-container .food-menu:nth-of-type(2) {
    float: left;
    background: url(photos/burger111.jpg) no-repeat;
    min-height: 500px;
    background-size: cover;
}

.food-container .food-menu:nth-of-type(3) {
    float: left;
    background: url(photos/burger222.jpg) no-repeat 0px;
    min-height: 500px;
    background-size: cover;
}

.food-container .food-menu:nth-of-type(4) {
    float: left;
    background: url(photos/burger333.jpg) no-repeat;
    min-height: 500px;
    background-size: cover;
}

.food-container .food-menu img {
    height: 400px;
    width: 100%;
}

.food-container .food-menu2 {
    width: 25%;
    float: left;
    text-align: center;
    position: relative;
    margin-top: -4px;
    padding: 10px;
}

.food-container .food-menu2 img {
    height: 400px;
    width: 100%;
}

.social-section {
    margin: 80px 0 0 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.social-section h3 {
    font-size: 50px;
}

.social-intro span {
    text-align: center;
    font-family: old standard tt;
    color: orange;
    font-size: 25px;
}

.social-intro {
    font-family: old standard tt;
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.social-holder {
    width: 80%;
    margin: auto;
}

.social-events {
    float: left;
    width: 23%;
    background: url(photos/burger00.jpg) no-repeat;
    min-height: 300px;
    background-size: cover;
    margin: 10px 0 0 10px;
    position: relative;
}

.social-events:nth-of-type(3) {
    float: left;
    width: 23%;
    background: url(photos/events.jpg) no-repeat;
    min-height: 300px;
    background-size: cover;
    margin: 10px 0 0 10px;
}

.social-events .social-text {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    overflow: none;
    margin: auto;
    text-align: center;
    height: 60%;
    font-family: passion one;
    padding: 10px;
    font-size: 33px;
}

.social-events .social-text h4 {
    letter-spacing: 5px;
}

.social-events .social-text p {
    font-size: 18px;
    font-family: old standard tt;
}

.social-events .social-text button {
    border: none;
    background-color: orange;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-family: "oswald";
    padding: 10px 30px 10px 30px;
    margin: 10px 0 0 0;
}

.social-hour .social-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    overflow: none;
    margin: auto;
    text-align: center;
    height: 50%;
    font-family: passion one;
    padding: 10px;
    font-size: 33px;
}

.social-hour .social-text h4 {
    letter-spacing: 5px;
}

.social-hour .social-text p {
    font-size: 18px;
    font-family: old standard tt;
}

.social-hour .social-text button {
    border: none;
    background-color: orange;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-family: "oswald";
    padding: 10px 30px 10px 30px;
    margin: 0px 0 0 0;
}

.social-hour {
    float: left;
    width: 50%;
    background: url(photos/social.jpg) no-repeat;
    min-height: 300px;
    background-size: cover;
    margin: 10px 0 0 10px;
    position: relative;
}

.instagram-sec {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: old standard tt;
    overflow: hidden;
    margin-bottom: 50px;
}

.instagram-sec h3 {
    font-size: 50px;
}

.instagram-pics {
    width: 19.6%;
    float: left;
    margin: 0 0 0 1px;
    position: relative;
}

.instagram-pics:hover img {
    filter: brightness(50%);
}

.instagram-pics:hover .instagram-text {
    opacity: 1;
}

.instagram-text {
    position: absolute;
    bottom: -50%;
    color: white;
    opacity: 0;
    padding: 40px;
    width: 100%;
    height: 100%;
}

.instagram-pics:nth-of-type(1) {
    width: 20%;
    float: left;
    margin: 0 0 0 -10px;
}

.instagram-pics img {
    width: 100%;
    height: 250px;
}

.newsletter {
    width: 100%;
    margin: auto;
    background-color: black;
    overflow: hidden;
    margin-bottom: 10px;
}

.news-sec {
    text-align: center;
    font-family: passion one;
    font-weight: 100;
    font-size: 30px;
    background-color: #868686;
    padding: 25px;
    letter-spacing: 7px;
    color: #ffffff;
}

.news-sec nav ul li {
    list-style: none;
    margin: 0 0 0 20px;
}

.news-sec button {
    padding: 10px 30px 10px 30px;
    margin: 20px 0 0 -20px;
    border: none;
    color: white;
    background-color: orange;
    border-radius: 5px;
    font-family: "oswald";
}

.news {
    width: 75%;
    margin: auto;
    overflow: hidden;
}

.news-box {
    width: 32%;
    float: left;
    margin: 0 0 0 20px;
    border: px solid black;
    margin-top: 50px;
    line-height: 25px;
}

.news-box:nth-of-type(1) {
    width: 32%;
    float: left;
    margin: 0px 0 0 0px;
}

.news-box:nth-of-type(3) {
    width: 32%;
    float: left;
    margin: 0px 0 0 20px;
    overflow: scroll;
    height: 450px;
}

.in-news {
    float: none;

}

.news-box img {
    width: 100%;
}

.news-box p {
    color: orange;
    text-align: none;
    font-family: "slabo 27px";
}

.news-box #blog-info {
    color: black;
    font-family: "Slabo 27px";
}

.news-box h3 {
    font-family: passion one;
    font-size: 36px;
    letter-spacing: 5px
}

.news-box h4 {
    color: black;
    font-family: "slabo 27px";
    font-size: 16px;
    font-weight: 100;
}

.news-box h5 {
    color: orange;
    font-family: "slabo 27px";
    font-size: 16px;
    font-weight: 100;
}

#in-news-font {
    color: orange;
}

.news {
    margin-top: 50px;
}

.footer-space {
    width: 100%;
    border: .3px solid #d9d9d9;
    margin: 50px 0 0 0;
}

.footer {
    width: 75%;
    color: gray;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
    font-family: oswald;
}

.footer-links {
    width: 20%;
    float: left;
    font-size: 18px;
}

.footer-links nav ul li a {
    text-decoration: none;
    color: gray;
}

.footer-links nav ul a {
    text-decoration: none;
    color: gray;
}

.footer-links nav ul li a:hover {
    color: orange;
    transition: .1s ease;
}

.footer-links nav ul a:hover {
    color: orange;
}

.footer-links:nth-of-type(2) {
    margin: 0 0 0 -120px;
}

.footer-links:nth-of-type(3) {
    margin: 0 0 0 -20px;
}

.footer-links:nth-of-type(4) {
    margin: 0 0 0 -20px;
}

.footer-links:nth-of-type(5) {
    margin: 0 0 0 -100px;
}

.footer-links:nth-of-type(6) {
    margin: 0 0 0 -140px;
}

.footer-links nav ul li {
    list-style: none;
}

.footer-links button {
    border: none;
    background-color: orange;
    color: white;
    padding: 20px;
    width: 200px;
    margin-left: auto;
    font-family: oswald;
    font-size: 18px;
    float: right;
    overflow: hidden;
}

.footer-links button span {
    margin: 0 0 0 50px;
}

.footer2 {
    width: 75%;
    margin: auto;
    text-align: center;
    padding: 50px 0 50px 0px;
    font-size: 14px;
}

.footer2-links li {
    list-style: none;
    display: inline-block;
    float: left;
    font-family: lato;
    margin: 0 0 0 50px;
}

.footer2-links li span {
    margin: 0 0 0 20px;
}

.footer-space2 {
    content: '';
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border: .5px solid #d4d4d4;
}


@media (max-width:1626px) {

    .footer2 .footer2-links:nth-of-type(1) {
        list-style: none;
        display: block;
        float: left;
        font-family: lato;
        margin: 0 0 0 -50px;
    }

    .footer-links {
        margin: 0 0 0 70px;
    }
}

@media (max-width:1544px) {
    .bottom-states {
        width: 50%;
        float: left;
        position: relative;
        background: url(photos/big.jpeg) no-repeat -200px -300px;
        min-height: 280px;
        margin: -4px 0 0 0;
        background-size: cover;
    }

    .footer2-links {
        list-style: none;
        display: block;
        float: left;
        font-family: lato;
        margin: 0 0 0 -25px;
    }
}

@media (max-width:1497px) {

    .instagram-pics {
        float: left;
        width: 48%;
    }

    .instagram-pics img {
        height: 300px;
    }
    
    .logo h1 {
        font-size: 45px;
    }

    .logo img {
        width: 85px;
    }

    header nav {
        margin: 42px 0 0 0;
    }

    header nav ul {
        margin: 0 30px 0 0;
    }

    header nav ul li {
        font-size: 12px;
    }

    .social-media {
        margin: -10px 0 0 20px;
    }
}

@media (max-width:1436px) {
    header h1 {
        text-align: center;
        margin: 0 0 0 -1px;
    }

    header .menu-header ul {
        float: none;
        text-align: center;
        width: 100%;
    }

    header .social-m ul {
        margin: px 0 0 0;
        float: none;
        text-align: center;
        width: 100%;
    }

    header .social-m {
        margin: 30px 0 0 0;
        float: none;
        text-align: center;
        width: 100%;
    }

    .footer2-links {
        list-style: none;
        display: block;
        float: left;
        font-family: lato;
        margin: 0 0 0 -30px;
    }

    .footer-links {
        width: 100%;
        font-size: 18px;
        text-align: center;
        float: left;
        display: inline;
    }

    .footer-links:nth-of-type(1) {
        margin: 0 0 0 0;
    }

    .footer-links:nth-of-type(2) {
        margin: 0 0 0 0;
    }

    .footer-links:nth-of-type(2) li {
        display: none;
    }

    .footer-links:nth-of-type(3) {
        margin: 0 0 0 0;
    }

    .footer-links:nth-of-type(4) {
        margin: 0 0 0 0;

    }

    .footer-links:nth-of-type(5) {
        margin: 0 0 0 0;

    }

    .footer-links:nth-of-type(6) {
        margin: 0 0 0 0;

    }

    .footer-links button {
        border: none;
        background-color: orange;
        color: white;
        padding: 20px;
        width: 80%;
        margin-left: auto;
        font-family: oswald;
        font-size: 18px;
        float: none;
        overflow: hidden;
        margin-top: 15px;
    }
}

@media (max-width:1408px) {
    header nav ul .nav-menu {
        display: none;
    }

    .header-con {
        width: 100%;
    }

    .logo {
        float: none;
        text-align: center;
        background-color: blue;
        transform: translateX(2.5%);
    }

    .hamburger span {
        display: inline;
        margin: 0 0 0 0;
    }

    .hamburger {
        margin: -100px 0 0 0;
    }

    .hamburger:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .social-media {
        margin: -10px 0 0 -30px;
        display: none;
    }
}

@media (max-width:1351px) {
    .footer2 .footer2-links {
        float: none;
        width: 100%;
    }

    .footer2-links li {
        list-style: none;
        float: none;
        width: 100%;
        font-family: lato;
        margin: 10px 0 0 20px;
    }

    .footer2-links li span:nth-of-type(1) {
        margin: 0 0 0 0px;
    }

    .footer2 .footer2-links:nth-of-type(1) {
        margin: 0 0 0 -20px;
    }

    .news-box {
        width: 100%;
        float: left;
        margin: 0 0 0 20px;
        border: px solid black;
        margin-top: 50px;
        line-height: 25px;
        text-align: center;
    }

    .news-box:nth-of-type(1) {
        width: 100%;
        float: left;
        margin: 0px 0 0 0px;
    }

    .news-box:nth-of-type(2) {
        width: 100%;
        float: left;
        margin: 50px 0 0 0px;
    }

    .news-box:nth-of-type(3) {
        width: 100%;
        float: left;
        margin: 50px 0 0 0;
        overflow: scroll;
        height: 450px;
        text-align: left;
    }
}

@media (max-width:1268px) {
    header h1 {
        text-align: center;
        margin: 0 0 0 -1px;
    }

    header .menu-header ul {
        float: none;
        text-align: center;
    }

    header .social-m {
        margin: 30px 0 0 0;
        float: none;
        text-align: center;
        width: 100%;
    }

    .food-container .food-menu {
        width: 47%;
    }

    .food-container .food-menu:nth-of-type(1) {
        float: left;
        background: url(photos/burger000.jpg) no-repeat -0px;
        min-height: 500px;
        background-size: cover;
    }

    .social-events {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
        height: 500px;
        position: relative;
    }

    .social-hour {
        width: 100%;
        margin: 10px 0 0 0px;
        padding: 0 0 0 0;
        height: 500px;
        background: url(photos/social.jpg) no-repeat 0px 0px;
        background-size: cover;
    }

    .social-events:nth-of-type(3) {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
    }

    .social-holder {
        width: 90%;
    }
}

@media (max-width: 1140px) {
    .food-container .food-menu {
        width: 47.5%;
        float: left;
        text-align: center;
        position: relative;
    }

    .food-container .food-menu img {
        height: 600px;

    }

    .food-container .food-menu2 {
        width: 50%;
        float: left;
        text-align: center;
        position: relative;
    }

    .food-container .food-menu2 img {
        height: 600px;
    }
}

@media (max-width:1024px) {
    .main-photo p {
        font-size: 45px;
        float: right;
        font-weight: bold;
        margin: 20px 30px 0 0;
        color: #ffffff;
        text-align: center;
    }

    .main-photo p span {
        letter-spacing: 5px;
        font-weight: none;
        float: none;
        text-align: center;
    }

    .food-container .food-menu {
        width: 100%;
    }

    .food-container .food-menu:nth-of-type(2) {
        float: left;
        background: url(photos/burger111.jpg) no-repeat 0;
        min-height: 500px;
        background-size: cover;
    }
    .food-container .food-menu:nth-of-type(3) {
        float: left;
        background: url(photos/burger222.jpg) no-repeat 0;
        background-size: cover;
    }

    .food-container .food-menu:nth-of-type(4) {
        float: left;
        background: url(photos/burger333.jpg) no-repeat 0;
        background-size: cover;
    }
}

@media (max-width:944px) {

    .findwrap {
        padding: 20px 0
    }

    .findwrap .findnear li:nth-of-type(1) {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }

    .findwrap .findnear button {
        transform: translateY(7.5%);
    }
}

@media (max-width:874px) {
    header .menu-header ul li {
        display: block;
    }
}

@media (max-width:789px) {
    .bottom-states {
        width: 100%;
        float: left;
        position: relative;
        min-height: 280px;
        margin: -4px 0 0 0;
    }

    .states-container .top-states {
        width: 100%;
        float: left;
        position: relative;
        background: url(photos/big.jpeg) no-repeat -200px -300px;
        min-height: 280px;
        margin: -4px 0 0 0;
    }

    .main-photo p {
        font-size: 32px;
        font-weight: bold;
        margin: 300px 30px 0 0;
        color: #ffffff;
        bottom: 50%;
    }

    .social-hour {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
        height: 500px;
        background: url(photos/social.jpg) no-repeat -70px 0px;
        background-size: cover;
    }

    .social-events:nth-of-type(3) {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
    }

    .instagram-pics {
        float: left;
        width: 100%;
    }

    .instagram-pics img {
        height: 400px;
    }

}

@media (max-width:768px) {
    .logo {
        float: none;
        text-align: center;
        background-color: blue;
        transform: translateX(2.5%);
    }

    .logo h1 {
        float: left;
        font-size: 36px;
        margin: 10px 0 0 0
    }

    .logo img {
        float: left;
        width: 75px;
        margin: 27px 0 0 0;
    }

    . header nav {
        float: none;
    }

    header nav ul {
        margin: 0 0 0 0px;
    }

    header nav ul li {
        margin: 0 0 0 0;
    }
}

@media (max-width:628px) {
    header .social-m ul {
        margin: 10px 0 10px 0px;
    }

    header .social-m ul li {
        margin: 0 0 0 0;
        padding: 17px 11px 10px 10px;
    }

    header .social-m ul li span {
        width: 30px;
    }

    header .social-m ul li a {
        color: white;
    }

    .social-hour {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
        height: 500px;
        background: url(photos/social.jpg) no-repeat -100px 0px;
        background-size: cover;
    }

    .social-events:nth-of-type(3) {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
    }

    .findwrap {
        margin: 0 0 0 0;
        overflow: hidden;
        transform: translateX(-3%);
    }

    .food-section .findnear h3 {
        margin: 0 0 0 0;
        overflow: hidden;
        font-size: 36px;
    }

    .findnear li {
        display: block;

    }
    .findnear li button {
        margin-top: 0px;
    }

    .social-events .social-text {
        height: 40%;
    }
    .social-hour .social-text {
        height: 40%;
    }

    .news-box h3 {
        margin-bottom: 15px;
    }
}

@media (max-width:559px) {
    .logo h1 {
        font-size: 28px;
        margin: 21.5px 0 0 0;
    }
    .logo img {
        width: 50px;
        margin: 38px 0 0 0;
    }
    .hamburger span {
        font-size: 28px;
        margin: -100px 0 0 0;
    }
}




@media (max-width:468px) {
    header h1 {
        font-size: 26px;
        text-align: center;
    }

    header .menu-header ul {
        float: none;
    }

    header .menu-header ul li {
        font-size: 12px;
        display: block;
    }

    header .menu-header ul .menu-drop li {
        border: none;
        display: none;
        font-size: 10px;
        padding: 5px 20px 10px 5px;
        margin: 10px 0 10px 0px;
        text-align: center;
        transform: translate(5%);
    }

    header .social-m ul li {
        list-style: none;
        margin: 2px 0 0 0px;
        display: block;
    }

    header .social-m ul li span {
        width: 30px;
    }

    .social-hour {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
        height: 500px;
        background: url(photos/social.jpg) no-repeat -253px 0px;
        background-size: cover;
    }

    .social-events:nth-of-type(3) {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
    }

    .findwrap .findnear li button {
        width: 100%;
        float: none;
        margin: 10px 0 0 0;
    }
}


@media (max-width:425px) {
    .logo h1 {
        font-size: 22px;
        margin: 27.5px 0 0 0;
    }
    .logo img {
        width: 33px;
        margin: 41.75px 0 0 0;
    }
    .hamburger span {
        font-size: 28px;
        margin: -100px 0 0 0;
    }
}


@media (max-width:375px) {

    .instagram-sec h3 {
        transform: translateX(-10%);
        font-size: 40px
    }

    .social-section h3 {
        font-size: 48px;
        transform: translateX(-5%)
    }

    .food-container .food-menu:nth-of-type(1) {
        background: url(photos/burger000.jpg) no-repeat -75px;
        background-size: cover;
        transform: translateX(-7.5%)
    }

    .food-container .food-menu:nth-of-type(2) {
        background: url(photos/burger111.jpg) no-repeat -25px;
        background-size: cover;
        transform: translateX(-7.5%)
    }

    .food-container .food-menu:nth-of-type(3) {

        transform: translateX(-7.5%)
    }

    .food-container .food-menu:nth-of-type(4) {

        transform: translateX(-7.5%)
    }
    
    .logo h1 {
        font-size: 21px;
        margin: 31px 0 0 0;
    }
    .logo img {
        width: 33px;
        margin: 42.75px 0 0 0;
    }
    .hamburger span {
        font-size: 28px;
        margin: -100px 0 0 0;
    }
}

@media (max-width:325) {
    .logo h1 {
        font-size: 20px;
        margin: 31px 0 0 0;
    }
    .logo img {
        width: 33px;
        margin: 42..5px 0 0 0;
    }
    .hamburger span {
        font-size: 28px;
        margin: -100px 0 0 0;
    }
}
